/* .ls-container, body .ls-container, #ls-global .ls-container{
    height: 550px !important;
} */
/* .header-wrapper .header-text{
    margin-top: 11% !important;
} */
.header-text{
    padding: 9px !important;
}
.ls-wrapper .ls-bg-outer{
    height: 550px !important;
}
.section-heading{
    text-align: center;
    margin: 0px auto 25px;
}
.res-margin{
    margin-top: 6%;
}
.party-card1{
    background-color: #F69753;
    color: #fff;
    margin: 2%;
    border-radius: 15px;
}
.party-card2{
    background-color: #73c3ba;
    color: #fff;
    margin: 2%;
    border-radius: 15px;
}
.party-card3{
    background-color: #FA6678;
    color: #fff;
    margin: 2%;
    border-radius: 15px;
}
.party-card3:hover{
    transform: scale(1.1);
    box-shadow: 2px -4px 15px 2px #c5c4c4;
    transition: all 0.7s ease-in-out;
}
.party-card2:hover{
    transform: scale(1.1);
    box-shadow: 2px -4px 15px 2px #c5c4c4;
    transition: all 0.7s ease-in-out;
}
.party-card1:hover{
    transform: scale(1.1);
    box-shadow: 2px -4px 15px 2px #c5c4c4;
    transition: all 0.7s ease-in-out;
}
.rent-img{
    width: 13%;
}
.sub-heading{
    font-size: 18px;
    font-weight: 700;
}


.serviceBox{
    background-color: var(--white);
    text-align: center;
    margin: 30px 15px;
    border: 1px solid transparent;
    box-shadow: -5px -5px 0 0 rgba(0,0,0,0.1);
    position: relative;
}
.serviceBox .service-icon{
    color: var(--white);
    /* background: linear-gradient(45deg,var(--gr-color1),var(--gr-color1),var(--gr-color2)); */
    font-size: 60px;
    line-height: 120px;
    height: 120px;
    width: 120px;
    margin: -35px auto 20px;
    border-radius: 50%;
    transition:all 0.3s;
}
.serviceBox:hover .service-icon{
    text-shadow: 0 0 2px #333;
    box-shadow: 0 0 0 7px var(--white) inset, 0 0 0 10px var(--gr-color2);
}
.serviceBox .title{
    color: var(--white);
    background: linear-gradient(45deg,var(--gr-color2),var(--gr-color2),var(--gr-color1),var(--gr-color1));
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0;
    margin: 0 -15px 10px;
    display: block;
    position: relative;
}
.serviceBox .title:before,
.serviceBox .title:after{
    content: '';
    background: linear-gradient(45deg, transparent 49%, #a5480e 50%);
    height: 15px;
    width: 14px;
    position: absolute;
    left: 0;
    top: 100%;
}
.serviceBox .title:after{
    background: linear-gradient(225deg, transparent 49%, #a5480e 50%);
    top: auto;
    bottom: 100%;
    left: auto;
    right: 0;
}
.serviceBox .description{
    color: #666;
    font-size: 15px;
    line-height: 25px;
    padding: 0 10px 10px;
}
:root{
    --white: #fff;
    --gr-color1: #FACC1E;
    --gr-color2: #FF7924;
    --gr-color3: #00C0A7;
    --gr-color4: #00E97C;
    --gr-color5: #FC4365;
    --gr-color6: #FE6229;
    --gr-color7: #009AFC;
    --gr-color8: #E75A7D;
}
.margin11{
    margin-top: 11%;
}
.owl-carousel .owl-item{
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 15px;
}